<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= pageTitle %> </title>
   <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/login.css">
</head>

<div class="container">
   <div class="row my-5">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
         <div class="card card-signin my-5">
            <div class="card-body">
               <h5 class="card-title text-center">Sign In</h5>

               <%- include('../includes/alert.ejs', {type: type, message: message} ) %> 
               
               <form class="form-signin" action="/login" method="post">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>">
                  <div class="form-label-group">
                     <input type="email" id="email" class="form-control" placeholder="Email" name="email" required autofocus>
                     <label for="email">Email</label>
                  </div>

                  <div class="form-label-group">
                     <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                     <label for="inputPassword">Password</label>
                  </div>

                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="submit">Sign in</button>
                  <hr>
                  <div class="row text-muted text-center">
                     <div class="col">
                        <p class="mb-1">Admin</p>
                        <small>admin@mail.com</small>
                        <br>
                        <small>admin</small>
                     </div>
                     <div class="col">
                        <p class="mb-1">Operator</p>
                        <small>operator@mail.com</small>
                        <br>
                        <small>operator</small>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
