<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
   <h1 class="h2"><%= pageTitle %> </h1>
</div>

<%- include('../../includes/alert.ejs', { type: type, message: message }) %> 

<div class="alert alert-primary text-center" role="alert">
   <h1 class="alert-heading text-center">Selamat Datang</h1>
   <h6 class="mt-3">Aplikasi ini merupakan latihan dasar menggunakan Nodejs - Express</h6>
   <hr>
   <h6 class="text-center">Teknologi</h6>
   <p>Nodejs, Express, MySql</p>
   <h6 class="text-center">Package</h6>
   <p>sequelize, body-parser, connect-flash, connect-session-sequelize, cookie-parser, bcryptjs, express-session, express-validator, multer</p>
   <h6 class="text-center">Template Engine</h6>
   <p>EJS</p>
</div>